@import '~antd/dist/antd.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#root {
  height: inherit;
  width: inherit;
  display: flex;
  padding: 0 !important;
  font-family: 'IBM Plex Sans', sans-serif;
}

button {
  @apply transition-all rounded;
}

#titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;

  cursor: pointer;
}

/* TODO: temporary...remove? later? */
/* body {
  -webkit-user-select: none;
  -webkit-app-region: drag;

  cursor: pointer;
} */

.titlebar-button {
  -webkit-app-region: no-drag;
}

.ant-avatar-group .ant-avatar {
  border: none;
  @apply shadow-lg;
}

.ant-modal-footer {
  padding: 0 !important;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
