#root {
  padding: 0 !important;
  font-family: "IBM Plex Sans", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~antd/dist/antd.css";

button {
  @apply transition-all;
}

#titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.titlebar-button {
  -webkit-app-region: no-drag;
}
