body {
  display: flex;
  flex-direction: column;
  flex: 1;

  margin: 0;

  background: #00000000;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  padding: 0 !important;
  font-family: 'IBM Plex Sans', sans-serif;
}

.titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;

  cursor: pointer;
}

/* TODO: temporary...remove? later? */
/* body {
  -webkit-user-select: none;
  -webkit-app-region: drag;

  cursor: pointer;
} */

.titlebar-button {
  -webkit-app-region: no-drag;
}

/* Designing for scroll-bar */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
}

.direction-ltr {
  direction: ltr;
}
.flipped {
  direction: rtl;
}
