@import '~antd/dist/antd.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  flex-direction: column;
  flex: 1;

  background: #00000000;
}

#root {
  height: inherit;
  width: inherit;
  display: flex;
  padding: 0 !important;
  font-family: 'IBM Plex Sans', sans-serif;
}

button {
  @apply transition-all rounded;
}

.titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;

  cursor: pointer;
}

/* TODO: temporary...remove? later? */
/* body {
  -webkit-user-select: none;
  -webkit-app-region: drag;

  cursor: pointer;
} */

.titlebar-button {
  -webkit-app-region: no-drag;
}

.ant-avatar-group .ant-avatar {
  border: none;
  @apply shadow-lg;
}

.ant-modal-footer {
  padding: 0 !important;
}

/* Designing for scroll-bar */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-gray-100;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gray-300;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500;
}

.direction-ltr {
  direction: ltr;
}
.flipped {
  direction: rtl;
}
