body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;

  @apply text-white;
}

#root {
  padding: 0 !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~antd/dist/antd.css";
